@page "/character/builder"
@using MudBlazor
<MudPaper class="ma-6 pa-4" Elevation="2">
    @if (chosenWorkflowSection == AncestryStep)
    {
        <MudButton Variant="Variant.Text" StartIcon="@Icons.Material.Filled.KeyboardArrowLeft" OnClick="@(_ => chosenWorkflowSection = "")" style="float:left">Back</MudButton>
        <ChooseAncestry AncestryChanged="AncestryChanged" />
    }
    else //if(string.IsNullOrWhiteSpace(chosenWorkflowSection) || chosenWorkflowSection == "Default")
    {
        <MudText class="text-center pa-6 full-width" Typo="Typo.h3">Choose a Build Step:</MudText>
        <MudGrid>
            <MudItem xs="12" sm="12" class="d-inline-flex">
                <MudButton Color="Color.Primary" Variant="@(GetVariant(_chosenAncestry))" OnClick="@(_ => ChangeWorkflowSection(AncestryStep))">Ancestry</MudButton>
                <MudTooltip style="width:240px" Class="tooltipBS" ShowOnClick="true" ShowOnHover="true" Text="Ancestry Description">
                    <MudIconButton Color="Color.Secondary" Icon="@Icons.Material.Outlined.Info"></MudIconButton>
                </MudTooltip>
                @if (!string.IsNullOrWhiteSpace(_chosenAncestry))
                {
                    <p>Chosen Ancestry: @_chosenAncestry</p>
                }
            </MudItem>
        </MudGrid>
    }
</MudPaper>

@code {
    private string chosenWorkflowSection = "";
    private static string AncestryStep = "ANCESTRY";
    private string _chosenAncestry = "";

    private void ChangeWorkflowSection(string newWorkflowSection)
    {
        chosenWorkflowSection = newWorkflowSection;
    }

    private void AncestryChanged(string newAncestry)
    {
        _chosenAncestry = newAncestry;
        chosenWorkflowSection = "";
        // send to character actor
    }

    private Variant GetVariant(string choice)
    {
        return string.IsNullOrWhiteSpace(_chosenAncestry) ? Variant.Filled : Variant.Outlined;
    }
}